[[redirects]]
from = "/js/script.js"
to = "https://plausible.io/js/pa-1TFuViezSnkiSi0DyQqL3.js
status = 200

[[redirects]]
from = "/api/event"
to = "https://plausible.io/api/event"
status = 200

[[headers]]
  for = "/*"
  [headers.values]
    Referrer-Policy = "no-referrer-when-downgrade"
