@import 'vendors/reset';

:root {
  --body-padding: 0;
  --body-margin: 1.5rem;
  --background-color: #F4F4F4;
  --border-color: #CCC;
  --text-color: #333;
  --link-color: #BF0222;
  --avatar-size: 75px;
  --code-color: #EEE;
  --max-width: 100vw;
  --denali-width: 50%;
  --denali-gutter: 10px;

  @media (min-width: 768px) {
    --denali-width: 25%;
  }

  @media (min-width: 1024px) {
    --body-margin: 3rem;
    --max-width: calc((200vw/3) - var(--body-margin) * 2);
    --avatar-size: 150px;
  }

  @media (min-width: 1440px) {
    --max-width: 864px;
  }

  @media (prefers-color-scheme: dark) {
    --background-color: #000;
    --border-color: #333;
    --text-color: #DDD;
    --code-color: #444;
  }
}

body {
  margin: var(--body-margin);
  max-width: var(--max-width);
}

html {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Menlo, Monaco, 'Courier New', monospace;
}

.avatar {
  border-radius: 100%;
  display: block;
  margin: 1.5rem 0;
  width: var(--avatar-size);
}

img {
  max-width: 100%;
}

h1 {
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  margin: 1rem 0;
}

h2 {
  border-bottom: 1px solid var(--border-color);
  font-size: 15px;
  font-weight: bold;
  line-height: 1.4;
  margin: 1.4rem 0;
}

h3 {
  font-size: 14px;
  line-height: 1.5;
}

li,
p {
  font-size: 14px;
  line-height: 1.5;
}

li p {
  margin-left: 1.5rem;
}

li {
  line-height: 1.5;
  margin: 1.5rem 0;
}

strong {
  font-weight: bold;
}

a:link,
a:visited {
  color: var(--link-color);
  text-decoration: none;
}

a:hover,
a:active {
  color: var(--link-color);
  text-decoration: underline;
}

code {
  background-color: var(--code-color);
  border: 1px solid var(--border-color);
  border-radius: 2px;
  padding: 0 2px;
}

.denali {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  li {
    flex-basis: calc(var(--denali-width) - var(--denali-gutter));
    margin: 0 0 calc(var(--denali-gutter) * 2) 0;
  }

  a,
  img {
    display: block
  }
}
