<!doctype html>
<html lang="en">
  <%= partial 'partials/head' %>
  <body>
    <article class="article">
      <%= partial 'partials/header' %>
      <div class="section">
        <%= yield %>
      </div>
    </article>
  </body>
</html>
