<!doctype html>
<html lang="en">
  <%= partial 'partials/head' %>
  <body>
    <%= partial 'partials/header' %>
    <%= yield %>
    <% unless current_page.data.hide_footer %>
      <%= partial 'partials/footer' %>
    <% end %>
  </body>
</html>
