<section class="section">
  <h2>Github Activity in the Past Year</h2>
  <div class="stats">
    <% activity = data&.contributions&.viewer&.contributionsCollection %>
    <% if activity.totalCommitContributions.present? %>
      <%= partial 'partials/stat', locals: { number: activity.totalCommitContributions, label: pluralize_without_number(activity.totalCommitContributions, 'Commit') } %>
    <% end %>
    <% if activity.totalPullRequestContributions.present? %>
      <%= partial 'partials/stat', locals: { number: activity.totalPullRequestContributions, label: "Pull #{pluralize_without_number(activity.totalPullRequestContributions, 'request')} opened" } %>
    <% end %>
    <% if activity.totalPullRequestReviewContributions.present? %>
      <%= partial 'partials/stat', locals: { number: activity.totalPullRequestReviewContributions, label: "Pull #{pluralize_without_number(activity.totalPullRequestReviewContributions, 'request')} reviewed" } %>
    <% end %>
    <% if activity.totalRepositoriesWithContributedCommits.present? %>
      <%= partial 'partials/stat', locals: { number: activity.totalRepositoriesWithContributedCommits, label: "#{pluralize_without_number(activity.totalRepositoriesWithContributedCommits, 'Repo')} contributed to" } %>
    <% end %>
  </div>
</section>
