<li>
  <p class="article__list-meta">
    <span><%= link_to DateTime.parse(article.published_at).strftime('%A, %B %-e, %Y'), article.path %></span>
    <% if article.contentfulMetadata.tags.present? %>
      <span><%= article.contentfulMetadata.tags.sort { |a, b| a.name <=> b.name }.map { |tag| link_to tag.name, "/blog/tags/#{tag.id}/index.html" }.join(', ') %></span>
    <% end %>
  </p>
  <h3 class="article__list-hed"><%= link_to remove_widows(article.title), article.path %></h3>
  <div class="article__list-description"><%= markdown_to_html(remove_widows article.summary) %></div>
</li>
