<section class="section">
  <h2 class="section__heading">Code</h2>
  <ol>
    <% data.repos.links.each do |link| %>
      <li>
        <h3 class="section__subheading"><%= link_to link.name, "https://github.com/#{link.name}" %></h3>
        <p><%= link.description %></p>
      </li>
    <% end %>
  </ol>
</section>
