<section class="section">
  <h2>Responsibly Drinking</h2>
  <ol>
    <% data.beers.each do |beer| %>
      <li class="card">
        <%= link_to responsive_image_tag(
              image_path("beers/#{beer.id}.jpg"), 
              intrinsicsize: '60x60',
              widths: [60, 120, 180],
              sizes: '60px',
              alt: "Label for the beer “#{beer.beer_name}”.",
              square: true), beer.beer_url, class: 'card__thumbnail', title: "#{beer.beer_name}, by #{beer.brewery_name}." %>
        <div class="card__text">
          <h3><%= link_to beer.beer_name, beer.beer_url %></h3>
          <p><%= beer.beer_style %> &middot; <%= beer.brewery_name %></p>
        </div>
      </li>
    <% end %>
  </ol>
</section>
