<header class="header">
  <a href="/" class="header__link">
    <%= responsive_image_tag(
      'avatar.jpg',
      imgix_options: {
        auto: 'format,compress',
        widths: [36, 72, 108, 48, 96, 144]
      },
      sizes: '(min-width: 768px) 48px, 36px',
      class: 'header__avatar',
      alt: 'Guillermo Esteves’s profile photo.',
      loading: 'eager') %>
    <h1 class="header__hed">Guillermo Esteves</h1>
  </a>
  <%= partial 'partials/nav' %>
</header>
