<section class="section">
  <h2>Listening</h2>
  <ol>
    <% data.albums.each do |album| %>
      <li class="card">
        <%= card_thumbnail(destination: album.url,
              image_path: "albums/#{album.id}.jpg",
              alt: "Cover of the album “#{album.name}”, by #{album.artists.map(&:name).join(', ')}.") %>
        <div class="card__text">
          <h3><%= link_to album.name, album.url %></h3>
          <p class="section__meta"><%= join_authors album.artists.map { |a| a.name } %> &middot; <%= album.release_date.split('-').first %></p>
        </div>
      </li>
    <% end %>
  </ol>
</section>
