<section class="section" aria-labelledby="listening">
   <h2 id="listening">Listening</h2>
   <ol>
     <% data.music.each do |track| %>
        <%= partial 'partials/track', locals: { track: track } %>
     <% end %>
   </ol>
 </section>
