<nav class="nav" id="nav">
  <ul class="nav__links" id="nav-menu" >
    <li><%= link_to "About", "/about/index.html" %></li>
    <li><%= link_to "Blog", "/blog/index.html" %></li>
    <li><%= link_to "Projects", "/projects/index.html" %></li>
    <li><%= link_to "Photography", "/photography/index.html" %></li>
  </ul>
  <button id="nav-button" aria-expanded="false" aria-controls="nav-menu" class="nav__hamburger">Open menu</button>
</nav>
