<nav class="nav">
  <ul class="nav__links">
    <li><%= link_to "About", "/about.html" %></li>
    <li><%= link_to "Blog", "/blog.html" %></li>
    <li><%= link_to "Projects", "/projects.html" %></li>
    <li><%= link_to "Photography", "/photography.html" %></li>
  </ul>
</nav>
