<nav class="nav" id="nav">
  <ul class="nav__links" id="nav-menu" >
    <% pages = data.pages.select { |p| !p.draft && p.showInNav.presence }.map { |p| [p.title, p.path] }.compact %>
    <% pages << ['Blog', '/blog/index.html'] %>
    <% puts pages.to_s %>
    <% pages.sort { |a,b| a.first <=> b.first }.each do |page| %>
      <li><%= link_to p.first, p.last %></li>
    <% end %>
  </ul>
  <button id="nav-button" aria-expanded="false" aria-controls="nav-menu" class="nav__hamburger">Open menu</button>
</nav>
