<nav class="nav" id="nav">
  <ul class="nav__links" id="nav-menu" >
    <% pages = data.pages.select { |p| p.showInNav }.map { |p| [p.title, p.path] } %>
    <% pages << ['Blog', '/blog/index.html'] %>
    <% pages.each do |page| %>
      <li><%= link_to p.first, p.last %></li>
    <% end %>
  </ul>
  <button id="nav-button" aria-expanded="false" aria-controls="nav-menu" class="nav__hamburger">Open menu</button>
</nav>
