<nav class="nav" id="nav">
  <ul class="nav__links" id="nav-menu" >
    <% (data.pages.select { |p| p.showInNav }.map { |p| [p.title, p.path] } + ['Blog', '/blog/index.html']).sort { |a,b| a.first <=> b.first }.each do |page| %>
      <li><%= link_to p.first, p.last %></li>
    <% end %>
  </ul>
  <button id="nav-button" aria-expanded="false" aria-controls="nav-menu" class="nav__hamburger">Open menu</button>
</nav>
