<section class="section">
  <h2 class="section__heading">Podcasts</h2>
  <ol>
    <% data.podcasts.links.reverse.each do |link| %>
      <li>
        <h3 class="section__subheading"><%= link_to link.title, link.url %></h3>
        <p><%= link.description %></p>
      </li>
    <% end %>
  </ol>
</section>
