<% if related_entries(entry).present? %>
  <section class="related">
    <h3 class="related--heading">Related reading</h3>
    <ol class="content__list">
      <% related_entries(entry).each do |r| %>
        <li><%= partial 'partials/entry_related', locals: { entry: r } %></li>
      <% end %>
    </ol>
  </section>
<% end %>
