<% related_entries = related_articles(entry) %>
<% if related_entries.present? %>
  <section class="related">
    <h3 class="related__heading">You May Also Like</h3>
    <ol class="content__list">
      <% related_entries.each do |r| %>
        <li><%= partial 'partials/entry_related', locals: { entry: r } %></li>
      <% end %>
    </ol>
  </section>
<% end %>
