<% if related_entries(entry).present? %>
  <aside class="entry__related">
    <h3>Related reading</h3>
    <% related_entries(entry).each do |related| %>
      <div class="entry__header">
        <p class="entry__meta">
          <span><%= link_to DateTime.parse(related.published_at).strftime('%A, %B %-e, %Y'), related.path %></span>
        </p>
        <h4>
          <%= link_to smartypants(related.title), related.path %>
        </h4>
      </div>
    <% end %>
  <aside>
<% end %>
