<% if related_entries(entry).present? %>
  <aside class="entry__related">
    <% related_entries(entry).each do |related| %>
      <div class="entry__header">
        <p class="entry__meta">
          <span><%= link_to DateTime.parse(related.published_at).strftime('%A, %B %-e, %Y'), related.path %></span>
        </p>
        <h2>
          <%= link_to smartypants(related.title), related.path %>
        </h2>
      </div>
    <% end %>
  <aside>
<% end %>
