<% if related_entries(entry).present? %>
  <section class="related">
    <h3>Related reading</h3>
    <ol class="content__list">
      <% related_entries(entry).each do |r| %>
        <li><%= partial 'partials/entry_compact', locals: { entry: r, in_list: true } %></li>
      <% end %>
    </ol>
  <section>
<% end %>
