<section class="section">
  <h2 class="section__heading">Featured Repos</h2>
  <ol>
    <% data.github.each do |repo| %>
      <li>
        <h3 class="section__subheading"><%= link_to repo.repository.nameWithOwner, repo.repository.url %></h3>
        <p>
          <%= repo.repository.description %>
        </p>
        <p class="section__meta">
          <%= [repo.repository.primaryLanguage.name, pluralize(repo.repository.stargazers.totalCount, 'star'), pluralize(repo.repository.forks.totalCount, 'fork')].reject(&:blank?).join(' &middot; ') %>
        </p>
      </li>
    <% end %>
  </ol>
</section>
