<section class="section" aria-labelledby="repos">
  <h2 id="repos">Featured Repos</h2>
  <ol>
    <% data.repos.each do |r| %>
      <% repo = r.repository %>
      <li>
        <h3><%= link_to repo.nameWithOwner, repo.url %></h3>
        <p>
          <%= repo.description %>
        </p>
        <p class="section__meta">
          <%= [repo.primaryLanguage.name, pluralize(repo.stargazers.totalCount, 'star'), pluralize(repo.forks.totalCount, 'fork')].reject { |i| i.blank? || i.start_with?('0') }.join(' &middot; ') %>
        </p>
      </li>
    <% end %>
  </ol>
</section>
