<div class="stats__stat">
  <p class="stats__number"><%= number_with_delimiter number %> <span class="sr-only"><%= label %></span></p>
  <span class="stats__label" aria-hidden="true"><%= label %></span>
</div>
