<section class="section" aria-labelledby="watching">
   <h2 id="watching">Watching</h2>
   <ol>
     <% data.movies.each do |movie| %>
        <%= partial 'partials/movie', locals: { movie: movie } %>
     <% end %>
   </ol>
 </section>
