<section class="section" aria-labelledby="writing">
  <h2 id="writing">Writing</h2>
  <ol>
    <% data.writing.links.reverse.each do |link| %>
      <li>
        <h3><%= link_to link.title, link.url %></h3>
        <p><%= link.description %></p>
      </li>
    <% end %>
  </ol>
</section>
