<section class="section" aria-labelledby="writing">
  <h2 id="writing">Writing</h2>
  <ol>
    <% blog.articles[0..4].each do |article| %>
      <li>
        <h3><%= link_to remove_widows(article.title), article.url %></h3>
        <p><%= remove_widows article.data.description %></p>
        <p class="section__meta">Published on <%= article.date.strftime('%A, %B %-e, %Y') %></p>
      </li>
    <% end %>
  </ol>
</section>
