---
title: Message sent
description: Your message has been sent.
---

<header class="section">
  <h2>Message sent</h2>
</header>

<section class="section article">
  <%= partial 'text/success' %>
</section>
