.article {
  .article__byline,
  .article__back {
    font-size: var(--meta-text-font-size);
    font-style: italic;
    line-height: var(--bigger-line-height);
    margin: 0 0 var(--bigger-spacing) 0;
    text-indent: 0;
  }

  .article__back {
    margin: var(--bigger-spacing) 0;
  }

  p + p {
    text-indent: var(--base-spacing);
  }

  p > img,
  .gist,
  .cp_embed_wrapper  {
    display: block;
    margin: var(--base-spacing) 0;
  }

  ul li {
    list-style-type: disc;
    margin: 0;
  }

  ol li {
    list-style-type: decimal;
    margin: 0;
  }

  ol,
  ul,
  aside {
    margin: var(--base-spacing);
  }

  aside {
    font-style: italic;
  }

  aside, pre {
    background-color: var(--code-color);
    border-radius: 2px;
    border: 1px solid var(--code-border-color);
    font-size: 12px;
    line-height: var(--base-line-height);
    margin: calc(var(--base-spacing) / 2) 0;
    padding: calc(var(--base-spacing) / 2);
  }

  pre {
    font-family: var(--monospace-font);
    white-space: pre-wrap; 
    
    code {
      background: none;
      border-radius: 0;
      border: 0;
    }
  }

  h2 {
    margin-bottom: 0;
  }

  h3 {
    margin: var(--base-spacing) 0;
  }

  .card {
    margin: var(--base-spacing) 0;
  }
}

blockquote {
  border-left: 4px solid var(--code-border-color);
  margin: calc(var(--base-spacing) / 2) var(--base-spacing);
  padding: 0 calc(var(--base-spacing) / 2);
}
