.footer {
  background-color: var(--color-footer-background);
  border-top: 1px solid var(--color-border);
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  padding: var(--padding-footer);

  @media (min-width: 768px) {
    flex-flow: row;
  }

  a:link,
  a:visited {
    color: var(--color-link);
    text-decoration: none;
  }

  a:hover,
  a:active {
    color: var(--color-link);
    text-decoration: underline;
  }
}

.footer__section {
  display: flex;
  flex-flow: column;
  font-family: var(--sans-serif);
  font-size: var(--font-x-small);
  line-height: 1.5;
  margin: .5rem 1rem;

  @media (min-width: 768px) {
    margin: 1rem;
  }
}

.footer__section-hed {
  font-family: var(--serif);
  font-weight: 700;
  font-size: var(--font-x-small);
  line-height: 1.5;
}

.footer__links {
  display: flex;
  flex-flow: row wrap;

  li:after {
    color: var(--color-tertiary-text);
    content: "·";
    margin: 0 .25rem;
  }

  li:last-of-type:after {
    content: "";
    margin: 0;
  }
}
