.header {
  margin: var(--header-margin);
  padding: var(--header-padding);

  a:link,
  a:visited {
    color: var(--text-color);
    text-decoration: none;
  }

  a:hover,
  a:active {
    color: var(--link-color);
    text-decoration: underline;
  }

  h1 {
    font-size: var(--header-font-size);
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
  }
}

.header__meta {
  font-size: var(--header-meta-font-size);
  text-align: center;
  margin: 0;
  line-height: var(--meta-text-line-height);
}

.header__links {
  li {
    display: inline;

    &:before {
      content: ' • ';
    }

    &:first-of-type:before {
      display: none;
    }
  }
}
