.header {
  margin: var(--header-margin);
  padding: var(--header-padding);

  a:link,
  a:visited {
    color: var(--text-color);
    text-decoration: none;
  }

  a:hover,
  a:active {
    color: var(--link-color);
    text-decoration: underline;
  }

  h1 {
    font-size: var(--header-font-size);
    font-style: normal;
    font-weight: 700;
    line-height: var(--base-line-height);
    text-align: center;
  }
}

.header__meta {
  font-size: var(--header-meta-font-size);
  line-height: var(--bigger-line-height);
  margin: 0;
  text-align: center;
}

.header__links {
  @extend .inline-items;
}
