.index {
  margin: 0 auto;
  max-width: var(--index-max-width);

  a {
    border: 2px solid;
    border-radius: var(--index-buttons-radius);
    display: block;
    text-align: center;
    margin: var(--base-spacing);
    padding: var(--base-spacing);
  }

  a:link,
  a:visited {
    border-color: var(--border-color);
    color: var(--text-color);
  }

  a:hover,
  a:active {
    border-color: var(--link-color);
    color: var(--link-color);
    text-decoration: none;
  }

  h2 {
    font-size: var(--sub-header-font-size);
    font-style: normal;
    font-weight: 700;
    line-height: var(--base-line-height);
    text-transform: uppercase;
  }

  p {
    font-size: var(--meta-text-font-size);
    line-height: var(--bigger-line-height);
  }
}
