.intro {
  align-items: flex-end;
  display: flex;
  flex-grow: 1;
  position: relative;
  width: 100vw;
}

.intro__text {
  background: var(--intro-text-background);
  padding: var(--padding-intro);
}

.intro__howdy {
  color: var(--color-secondary-text);
  display: inline-block;
  font-size: var(--font-large);
  line-height: 1;
}

.intro__hed {
  font-family: var(--serif);
  font-size: clamp(var(--font-large), 6vw, calc(var(--font-large) * 1.5));
  font-weight: 700;
  line-height: 1;
  margin: 1rem 0;

  @media (min-width: 768px) {
    max-width: 66%;
  }
}

.intro__more {
  display: inline-block;
  font-family: var(--sans-serif);
  font-size: var(--font-medium);
  line-height: 1.5;

  &::after {
    color: var(--color-secondary-text);
    content: "»";
    margin: 0 .5rem;
  }

  a {
    text-decoration: none;
  }

  a:link,
  a:visited {
    color: var(--color-text);
  }

  a:hover,
  a:active {
    color: var(--color-text);
    border-bottom: 2px solid var(--color-link);
  }
}

.intro__photo {
  height: 100%;
  left: 0;
  object-fit: cover;
  object-position: center top;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;

  @media (prefers-color-scheme: dark) {
    object-position: center bottom;
  }
}

.intro__links {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  margin-top: 1rem;

  li {
    height: 1rem;
    width: 1rem;

    @media (min-width: 400px) {
      height: 2rem;
      width: 2rem;
    }
  }

  a {
    display: block;
  }

  a:link,
  a:visited {
    color: var(--color-text);
  }

  a:hover,
  a:active {
    color: var(--color-link);
  }

  svg {
    path,
    g {
      fill: currentColor;
    }
  }
}
