.nav {
  display: flex;
  margin-right: 1rem;

  @media (min-width: 768px) {
    margin-right: 2rem;
  }
}

.nav__links {
  background-color: var(--color-header-background);
  bottom: 0;
  display: none;
  flex-flow: column;
  height: 100vh;
  height: 100dvh;
  left: 0;
  padding: 4rem 1rem;
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100vw - 2rem);
  z-index: 2;

  @supports (backdrop-filter: none) or (-webkit-backdrop-filter: none) {
    backdrop-filter: blur(20px);
    background-color: var(--color-nav-background);
  }

  .has-nav-open & {
    display: flex;
  }

  li {
    font-family: var(--sans-serif);
    font-size: var(--font-large);
    line-height: 1;
  }

  a {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 2px solid var(--color-border);
    padding: 1rem 0;
    text-decoration: none;
  }

  a:link,
  a:visited {
    color: var(--color-text);
  }

  a:hover,
  a:active {
    border-bottom: 2px solid var(--color-link);
    color: var(--color-text);
  }

  a:active {
    color: var(--color-link);
  }

  svg {
    height: 1.5rem;
    width: 1.5rem;

    path,
    g {
      fill: currentColor;
    }
  }

  span {
    margin-left: 1rem;

    @media (min-width: 768px) {
      display: none;
    }
  }

  @media (min-width: 768px) {
    align-items: center;
    backdrop-filter: none;
    background: none;
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    height: auto;
    padding: 0;
    position: relative;
    width: auto;

    a {
      padding: 0;
    }

    a:link,
    a:visited {
      border: none;
      color: var(--color-text);
    }

    a:hover,
    a:active {
      border: none;
      color: var(--color-link);
    }

    svg {
      height: 1rem;
      width: 1rem;
    }
  }
}

.nav__hamburger {
  align-items: center;
  background: none;
  border: none;
  color: var(--color-text);
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 3;

  svg {
    height: 1.5rem;
    width: 1.5rem;

    path,
    g {
      fill: currentColor;
    }
  }

  @media (min-width: 768px) {
    display: none;
  }

  .nav__hamburger-closed {
    display: flex;
  }

  .nav__hamburger-open {
    display: none;
  }

  .has-nav-open & {
    .nav__hamburger-closed {
      display: none;
    }
  
    .nav__hamburger-open {
      display: flex;
    }
  }
}
