.nav {
  backdrop-filter: blur(20px);
  background-color: var(--color-nav-background);
  bottom: 0;
  display: none;
  height: 100vh;
  height: 100dvh;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  padding: 1rem;

  @media (min-width: 768px) {
    align-items: center;
    backdrop-filter: none;
    background: none;
    display: flex;
    height: auto;
    position: relative;
    width: auto;
    margin: 0 2rem 0 0;
  }

  &--is-open {
    display: flex;
  }
}

.nav__links {
  display: flex;
  flex-flow: column;

  li {
    font-size: var(--font-large);
    line-height: 1;
    font-family: var(--sans-serif);
    padding: 1rem;
  }

  li:after {
    color: var(--color-tertiary-text);
    content: "·";
    margin: 0 .5rem;
  }

  a {
    text-decoration: none;
  }

  a:link,
  a:visited {
    color: var(--color-text);
  }

  a:hover,
  a:active {
    color: var(--color-text);
    border-bottom: 2px solid var(--color-link);
  }

  @media (min-width: 600px) {
    flex-flow: row nowrap;

    li {
      font-size: var(--font-small);
      line-height: 2;
      padding: 0;
    }

    li:last-of-type:after {
      content: "";
      margin: 0;
    }
  }
}
