.nav {
  display: flex;
  margin-right: 1rem;

  @media (min-width: 768px) {
    margin-right: 2rem;
  }
}

.nav__links {
  background-color: var(--color-background);
  bottom: 0;
  display: none;
  flex-flow: column;
  height: 100vh;
  height: 100dvh;
  left: 0;
  padding: 4rem 1rem;
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100vw - 2rem);
  z-index: 1;

  @supports (backdrop-filter: none) or (-webkit-backdrop-filter: none) {
    backdrop-filter: blur(20px);
    background-color: var(--color-nav-background);
  }

  .nav--is-open & {
    display: flex;
  }

  li {
    font-family: var(--sans-serif);
    font-size: var(--font-large);
    line-height: 1;
  }

  a {
    border-bottom: 2px solid var(--color-border);
    display: block;
    padding: 1rem 0;
    text-decoration: none;
  }

  a:link,
  a:visited {
    color: var(--color-text);
  }

  a:hover,
  a:active {
    border-bottom: 2px solid var(--color-link);
    color: var(--color-text);
  }

  @media (min-width: 768px) {
    align-items: center;
    backdrop-filter: none;
    background: none;
    display: flex;
    flex-flow: row nowrap;
    height: auto;
    padding: 0;
    position: relative;
    width: auto;

    a {
      border: none;
      display: inline;
      padding: 0;
    }

    li {
      font-size: var(--font-small);
      line-height: 2;
      padding: 0;
    }

    li:after {
      color: var(--color-tertiary-text);
      content: "·";
      margin: 0 .5rem;
    }

    li:last-of-type:after {
      content: "";
      margin: 0;
    }
  }
}

.nav__hamburger {
  background: none;
  border: none;
  color: var(--color-button-foreground);
  font-size: 0;
  height: 36px;
  line-height: 1;
  margin: 0;
  padding: 0;
  position: relative;
  width: 36px;
  z-index: 1;

  &::after {
    align-items: center;
    bottom: 0;
    content: "☰";
    display: flex;
    font-size: var(--font-large);
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  @media (min-width: 768px) {
    display: none;
  }

  .nav--is-open &::after {
    content: "×";
  }
}
