.section {
  a:link,
  a:visited {
    color: var(--link-color);
    text-decoration: none;
  }

  a:hover,
  a:active {
    color: var(--link-color);
    text-decoration: underline;
  }

  code {
    background-color: var(--code-color);
    border: 1px solid var(--code-border-color);
    border-radius: 2px;
    padding: 0 4px;
  }

  strong {
    font-weight: bold;
  }

  li,
  p {
    font-size: 18px;
    line-height: 1.5;
  }

  li p {
    margin-left: 1.5rem;
  }

  li {
    line-height: 1.5;
    margin: 1.5rem 0;
  }

  em,
  i {
    font-style: italic;
  }

  h1 {
    background-color: var(--background-color);
    font-size: var(--header-h1-size);
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    margin: 1rem 0;
  }
  
  h2 {
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
    line-height: 1.33;
    margin: 1.4rem 0;
    text-transform: uppercase;
  }
  
  h3 {
    font-size: 22px;
    font-style: italic;
    font-weight: 600;
    line-height: 1.5;
  }

  hr {
    border: none;
    border-bottom: 2px solid var(--border-color);
    margin: var(--body-margin) 0;
  }
}

.section--blog-meta {
  h2 {
    border-bottom: none;
    font-size: 24px;
    line-height: 1.5;
    margin: 1.5rem 0 0;
  }
}

.section--not-found {
  ul {
    margin: 1.5rem 0;
    padding-left: 1.5rem;
  }
  ul li {
    list-style-type: disc;
    margin: 0;
  }
}

.section .section__meta {
  font-size: 14px;
  font-style: italic;
  line-height: 2;
}

.section .section__more {
  font-size: 14px;
  font-style: italic;
  line-height: 2;
}
