.section {
  padding: var(--body-padding);

  code {
    background-color: var(--code-color);
    border-radius: 2px;
    border: 1px solid var(--code-border-color);
    padding: 0 4px;
  }

  strong {
    font-weight: bold;
  }

  li,
  p {
    font-size: var(--text-font-size);
    line-height: var(--base-line-height);
  }

  p + p {
    text-indent: var(--base-spacing);
  }

  li p {
    margin-left: var(--base-spacing);
  }

  li {
    line-height: var(--base-line-height);
    margin: var(--base-spacing) 0;
  }

  em,
  i {
    font-style: italic;
  }
  
  h2 {
    font-size: var(--sub-header-font-size);
    font-style: normal;
    font-weight: 700;
    line-height: var(--base-line-height);
    margin: var(--base-spacing) 0;
    text-transform: uppercase;
  }
  
  h3 {
    font-size: var(--sub-header-font-size);
    font-style: italic;
    font-weight: 500;
    line-height: var(--base-line-height);
  }

  hr {
    border: none;
    border-bottom: 1px solid var(--border-color);
    margin: var(--base-spacing) 0;
  }

  .section__meta {
    &, li {
      font-size: var(--meta-text-font-size);
      font-style: italic;
      line-height: var(--bigger-line-height);
      text-indent: 0;
    }
  }
  
  ul.section__meta {
    @extend .inline-items;
    margin-left: var(--base-spacing);
  }
}

.section--footer {
  border-top: 1px solid var(--border-color);
  margin: var(--base-spacing) 0 0;
  padding: var(--base-spacing);

  p {
    font-size: var(--meta-text-font-size);
    line-height: var(--bigger-line-height);
    text-align: center;
  }
}
