html {
  background-color: var(--color-background);
  color: var(--color-text);
  min-height: 100vh;
  min-height: 100dvh;
}

body {
  align-items: center;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  min-height: 100dvh;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}
