html {
  background-color: var(--color-background);
  color: var(--color-text);
  min-height: 100vh;
  min-height: 100dvh;
}

body {
  align-items: center;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  min-height: 100dvh;

  &.has-nav-open {
    position: fixed;
  }
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

*:focus {
  outline-color: var(--color-link);
}

h1,
h2,
h3,
h4,
h5,
h6,
caption,
figcaption {
  text-wrap: balance;
}
