.extend-entry-header {
  h2 {
    font-family: var(--serif);
    font-size: var(--font-large);
    line-height: 1;
    margin: 1rem 0;

    a:link,
    a:visited {
      color: var(--color-link);
      text-decoration: none;
    }

    a:hover,
    a:active {
      color: var(--color-link);
      text-decoration: underline;
    }
  }
}
