:root {
  // Swatches
  //   Reds
  --color-firebrick: #BF0222;
  //   Grays
  --color-eerie-black: #141414;
  --color-gainsboro: #E0E0E0;
  --color-granite-gray: #666666;
  --color-jet: #292929;
  --color-platinum: #EBEBEB;
  --color-silver-chalice: #ADADAD;
  --color-sonic-silver: #7A7A7A;
  --color-spanish-gray: #999999;

  // Basics
  --content-max-width: 800px;
  --padding-article: 1rem;
  --padding-footer: 1rem 0;
  --padding-intro: 2rem 1rem;
  // Colors
  --color-accent: var(--color-firebrick);
  --color-background: white;
  --color-blockquote-border: var(--color-gainsboro);
  --color-blockquote-text: var(--color-secondary-text);
  --color-border: var(--color-gainsboro);
  --color-button-background: var(--color-platinum);
  --color-button-foreground: var(--color-spanish-gray);
  --color-code-background: var(--color-platinum);
  --color-code-border: var(--color-gainsboro);
  --color-footer-background: var(--color-platinum);
  --color-link: var(--color-firebrick);
  --color-nav-background: rgba(255,255,255,0.5);
  --color-secondary-text: var(--color-granite-gray);
  --color-tertiary-text: var(--color-spanish-gray);
  --color-text: var(--color-jet);
  // Font sizes
  --font-large: 24px;
  --font-medium: 16px;
  --font-small: 12px;
  --font-x-small: 10px;
  // Avatar
  --avatar-size: 36px;
  // Fonts
  --monospace: 'IBM Plex Mono', Menlo, monospace;
  --sans-serif: 'Lato', 'Helvetica Neue', sans-serif;
  --serif: 'Playfair Display', Georgia, serif;
  // Other
  --intro-text-background: linear-gradient(to top, rgba(255, 255, 255, 1) 33%, rgba(255, 255, 255, 0));
  --transition-duration: 150ms;

  @media (min-width: 768px) {
    --avatar-size: 48px;
    --font-large: 48px;
    --font-medium: 24px;
    --font-small: 18px;
    --font-x-small: 12px;
    --padding-article: 4rem;
    --padding-footer: 4rem 0;
    --padding-intro: 4rem;
  }

  @media (prefers-color-scheme: dark) {
    --color-background: black;
    --color-blockquote-border: var(--color-jet);
    --color-border: var(--color-jet);
    --color-button-background: var(--color-eerie-black);
    --color-button-foreground: var(--color-sonic-silver);
    --color-code-background: var(--color-eerie-black);
    --color-code-border: var(--color-jet);
    --color-footer-background: var(--color-eerie-black);
    --color-nav-background: rgba(0,0,0,0.5);
    --color-secondary-text: var(--color-silver-chalice);
    --color-tertiary-text: var(--color-sonic-silver);
    --color-text: var(--color-platinum);
    --intro-text-background: linear-gradient(to top, rgba(0, 0, 0, 1) 33%, rgba(0, 0, 0, 0));
  }
}
