:root {
  // Swatches

  // Reds
  --color-firebrick: #BF0222;
  --color-rosewood: #520010;
  --color-dark-sienna: #290008;

  // Grays
  --color-platinum: #EBEBEB;
  --color-gainsboro: #E0E0E0;
  --color-silver-chalice: #ADADAD;
  --color-spanish-gray: #999999;
  --color-sonic-silver: #7A7A7A;
  --color-granite-gray: #666666;
  --color-jet: #292929;
  --color-eerie-black: #141414;
  
  
  

  // Basics
  --content-margin: 0 auto;
  --content-max-width: 100vw;
  // Colors
  --background-color: white;
  --blockquote-border-color: var(--color-gainsboro);
  --blockquote-text-color: var(--secondary-text-color);
  --border-color: var(--color-gainsboro);
  --code-border-color: var(--color-gainsboro);
  --code-background-color: var(--color-platinum);
  --footer-background-color: var(--color-platinum);
  --link-color: var(--color-firebrick);
  --nav-background-color: rgba(255,255,255,0.5);
  --secondary-text-color: var(--color-granite-gray);
  --tertiary-text-color: var(--color-spanish-gray);
  --text-color: var(--color-jet);
  // Font sizes
  --font-large: 18px;
  --font-medium: 12px;
  --font-small: 9px;
  // Avatar
  --avatar-size: 36px;
  // Fonts
  --sans-serif: 'Lato', 'Helvetica Neue', sans-serif;
  --serif: 'Playfair Display', Georgia, serif;
  --monospace: 'IBM Plex Mono', Menlo, monospace;

  // Other
  --intro-text-background: linear-gradient(to top, rgba(255, 255, 255, 1) 33%, rgba(255, 255, 255, 0));

  @media (min-width: 768px) {
    --avatar-size: 48px;
    --font-large: 48px;
    --font-medium: 24px;
    --font-small: 18px;
  }

  @media (min-width: 1280px) {
    --content-max-width: 1280px;
  }

  @media (prefers-color-scheme: dark) {
    --background-color: black;
    --blockquote-border-color: var(--color-rosewood);
    --border-color: var(--color-rosewood);
    --code-border-color: var(--color-rosewood);
    --code-background-color: var(--color-dark-sienna);
    --footer-background-color: var(--color-dark-sienna);
    --nav-background-color: rgba(0,0,0,0.5);
    --secondary-text-color: var(--color-silver-chalice);
    --tertiary-text-color: var(--color-sonic-silver);
    --text-color: var(--color-platinum);
    --intro-text-background: linear-gradient(to top, rgba(0, 0, 0, 1) 33%, rgba(0, 0, 0, 0));
  }
}
