:root {
  // Swatches
  //   Reds
  --color-firebrick: #BF0222;
  //   Grays
  --color-platinum: #EBEBEB;
  --color-gainsboro: #E0E0E0;
  --color-silver-chalice: #ADADAD;
  --color-spanish-gray: #999999;
  --color-sonic-silver: #7A7A7A;
  --color-granite-gray: #666666;
  --color-jet: #292929;
  --color-eerie-black: #141414;

  // Basics
  --content-max-width: 800px;
  --padding-article: 1rem;
  --padding-intro: 2rem 1rem;
  --padding-footer: 1rem 0;
  // Colors
  --background-color: white;
  --blockquote-border-color: var(--color-gainsboro);
  --blockquote-text-color: var(--secondary-text-color);
  --border-color: var(--color-gainsboro);
  --code-background-color: var(--color-platinum);
  --code-border-color: var(--color-gainsboro);
  --footer-background-color: var(--color-platinum);
  --link-color: var(--color-firebrick);
  --nav-background-color: rgba(255,255,255,0.5);
  --secondary-text-color: var(--color-granite-gray);
  --tertiary-text-color: var(--color-spanish-gray);
  --text-color: var(--color-jet);
  --li-color: var(--color-firebrick);
  // Font sizes
  --font-large: 24px;
  --font-medium: 16px;
  --font-small: 12px;
  --font-x-small: 12px;
  // Avatar
  --avatar-size: 36px;
  // Fonts
  --sans-serif: 'Lato', 'Helvetica Neue', sans-serif;
  --serif: 'Playfair Display', Georgia, serif;
  --monospace: 'IBM Plex Mono', Menlo, monospace;
  // Other
  --intro-text-background: linear-gradient(to top, rgba(255, 255, 255, 1) 33%, rgba(255, 255, 255, 0));

  @media (min-width: 768px) {
    --padding-article: 4rem;
    --padding-intro: 4rem;
    --padding-footer: 4rem 0;
    --avatar-size: 48px;
    --font-large: 48px;
    --font-medium: 24px;
    --font-small: 18px;
    --font-x-small: 14px;
  }

  @media (prefers-color-scheme: dark) {
    --background-color: black;
    --blockquote-border-color: var(--color-jet);
    --border-color: var(--color-jet);
    --code-border-color: var(--color-jet);
    --code-background-color: var(--color-eerie-black);
    --footer-background-color: var(--color-eerie-black);
    --nav-background-color: rgba(0,0,0,0.5);
    --secondary-text-color: var(--color-silver-chalice);
    --tertiary-text-color: var(--color-sonic-silver);
    --text-color: var(--color-platinum);
    --intro-text-background: linear-gradient(to top, rgba(0, 0, 0, 1) 33%, rgba(0, 0, 0, 0));
  }
}
