---
title: Need a gift for a photographer? Give one of these books
description: Here's a list of photography books I own & recommend.
date: 2020/10/01
author: Guillermo Esteves
hide_affiliate_footer: true
---

<p>A question I get with some frequency is “what is a good gift I can get for my photographer friend/relative?”. Gifts for photographers are tough; equipment is too specialized and expensive to be given as gifts, accessories requires you to know what equipment they already have, and photography-themed doodads like <a target="_blank" rel="sponsored nofollow noopener" href="https://www.amazon.com/Improved-AM-MUG%C2%AE-226228-668-Button/dp/B00PF6GWBA/ref=as_li_ss_tl?ie=UTF8&linkCode=ll1&tag=gestevescom-20&linkId=4e917842fe17ffde3066ed791c6eff22&language=en_US">lens-shaped coffee mugs</a> are a waste of money that just end up collecting dust. Books, however, are a safer bet. Which photographer doesn’t love to look at photographs for inspiration? I’d never be upset receiving a cool photography book as a gift.</p>
<p>So, without further ado, here’s a list of all photography books I own and recommend, sorted by genre. These are all currently sitting on my bookshelf, and I’ve enjoyed each and every one of them.</p>

<p>(Please note that each listing includes Amazon affiliate links; I’ll earn a small commission from any purchases made through those links).</p>

<section class="section" aria-labelledby="landscape-wildlife-photography">
  <h2 id="landscape-wildlife-photography">Landscape & Wildlife Photography</h2>
  <ol>
    <% data.photography_nature_books.each do |book| %>
      <%= partial '../books/book', locals: { book: book } %>
    <% end %>
  </ol>
</section>

<section class="section" aria-labelledby="street-photography">
  <h2 id="street-photography">Street Photography</h2>
  <ol>
    <% data.photography_street_books.each do |book| %>
      <%= partial '../books/book', locals: { book: book } %>
    <% end %>
  </ol>
</section>

<section class="section" aria-labelledby="photography-how-to-guides">
  <h2 id="photography-how-to-guides">Photography How-To & Guides</h2>
  <ol>
    <% data.photography_how_to_books.each do |book| %>
      <%= partial '../books/book', locals: { book: book } %>
    <% end %>
  </ol>
</section>

<section class="section" aria-labelledby="other">
  <h2 id="other">Other</h2>
  <ol>
    <% data.photography_other_books.each do |book| %>
      <%= partial '../books/book', locals: { book: book } %>
    <% end %>
  </ol>
</section>
