---
title: Page not found.
description: You’ve reached a page that doesn’t exist.
---

<header class="section">
  <h2>Page not found.</h2>
</header>

<section class="section article">
  <%= partial 'partials/not_found' %>
</section>

