---
title: Page not found.
description: You’ve reached a page that doesn’t exist.
---

<header class="section">
  <h1>Page not found.</h1>
</header>

<section class="section section--not-found">
  <%= partial 'partials/not_found' %>
</section>

