---
title: About
description: About Guillermo Esteves, a web developer & engineering manager based in Jackson Hole, Wyoming.
layout: 'layout'
---

<section class="section" aria-labelledby="intro">
  <h2 class="sr-only" id="intro">Introduction</h2>
  <%= partial 'partials/intro' %>
</section>
