<article class="entry entry--large" id="main-content" aria-labelledby="hed">
  <header class="entry__header">
      <p class="entry__meta">
        <% if content.draft %>
          <span class="entry__draft">Draft</span>
        <% end %>
        <span><%= link_to DateTime.parse(content.published_at).strftime('%A, %B %-e, %Y'), content.path %></span>
        <% if content.contentfulMetadata.tags.present? %>
          <span><%= content.contentfulMetadata.tags.sort { |a, b| a.name <=> b.name }.map { |tag| link_to tag.name, "/blog/tags/#{tag.id}/index.html" }.join(', ') %></span>
        <% end %>
      </p>
    <h2 id="hed">
      <%= remove_widows content.title %>
    </h2>
  </header>
  <main class="entry__body">
    <%= render_body(content.body) %>
  </main>
</article>
