---
title: Guillermo Esteves
description: Guillermo Esteves is a web developer & engineering leader based in Jackson Hole, Wyoming.
layout: 'home'
---

<main class="intro" id="main-content">
  <header class="intro__text">
    <p class="intro__howdy">👋</p>
    <h1 class="intro__hed">I’m&nbsp;Guillermo&nbsp;Esteves, a&nbsp;web&nbsp;developer in&nbsp;Jackson&nbsp;Hole,&nbsp;Wyoming.</h1>
    <p class="intro__more"><%= link_to "Learn more", "about.html" %></p>
  </header>


  <picture>
    <% data.cover.images.each do |image| %>
      <% data.cover.formats.each do |format| %>
        <%= imgix_source_tag(image.filename, media: "(orientation: #{image.orientation}) and (prefers-color-scheme: #{image.color_scheme})", sizes: data.cover.sizes.join(', '), type: "image/#{format}", imgix_options: { auto: 'compress', fm: format, widths: data.cover.widths }) %>
      <% end %>
    <% end %>
    <img alt="<%= data.cover.alt_text %>" loading="eager" decoding="async" class="intro__photo" >
  </picture>
</main>
