---
title: Guillermo Esteves
description: Guillermo Esteves is a web developer & engineering leader based in Jackson Hole, Wyoming.
layout: false
---

<!doctype html>
<html lang="en">
  <%= partial 'partials/head' %>
  <body class="home">
    <%= partial 'partials/header', locals: { home: true } %>
  </body>
</html>
