---
title: Guillermo Esteves
description: Guillermo Esteves is a web developer & engineering manager based in Jackson Hole, Wyoming.
layout: 'layout'
hide_footer: true
---

<ul class="index">
  <% data.index.links.each do |link| %>
    <li>
      <% link_to link.url do %>
        <h2><%= remove_widows link.title %></h3>
        <% if link.description.present? %><p><%= remove_widows link.description %></p><% end %>
      <% end %>
    </li>
  <% end %>
</ul>
