---
title: Links
description: Interesting stuff I've read.
---

<section class="article" id="main-content" aria-labelledby="hed">
  <header class="article__header">
    <h2 id="hed">
      <%= remove_widows current_page.data.title %>
    </h2>
  </header>
  <main class="article__body">
    <ol class="article__list">
      <% data.links.reject(&:draft).each do |link| %>
        <%= partial 'partials/link', locals: { link: link } %>
      <% end %>
    </ol>
  </main>
</section>
