---
title: Links
description: Interesting stuff I've read.
---

<section class="content" id="main-content" aria-labelledby="hed">
  <header class="content__header">
    <h2 id="hed">
      <%= remove_widows current_page.data.title %>
    </h2>
  </header>
  <main>
    <ol class="content__list">
      <% data.links.reject(&:draft).each do |article| %>
        <li><%= partial 'partials/entry_compact', locals: { entry: article, in_list: true } %></li>
      <% end %>
    </ol>
  </main>
</section>
