<article class="article" id="main-content" aria-labelledby="hed">
  <header class="article__header">
    <% if content.draft %>
      <p class="article__meta">
        <span class="article__draft">Draft</span>
      </p>
    <% end %>
    <h2 id="hed">
      <%= remove_widows content.title %>
    </h2>
  </header>
  <main class="article__body">
    <%= set_code_language(set_alt_text(responsivize_images(add_figure_elements(markdown_to_html(content.body)), widths: data.srcsets.entry.widths, sizes: data.srcsets.entry.sizes.join(', '), formats: data.srcsets.entry.formats))) %>
  </main>
</article>
