<article class="article article--is-page" id="main-content" aria-labelledby="hed">
  <header class="article__header">
    <% if content.draft %>
      <p class="article__meta">
        <span class="article__draft">Draft</span>
      </p>
    <% end %>
    <h2 id="hed">
      <%= remove_widows content.title %>
    </h2>
  </header>
  <main class="article__body">
    <%= render_body(content.body) %>
  </main>
</article>
