---
title: Résumé
description: Professional history of Guillermo Esteves, a web developer & engineering manager based in Jackson Hole, Wyoming.
layout: 'layout'
hide_avatar: true
---

<section class="section resume">
  <%= partial 'text/resume' %>
</section>
