<section class="content" id="main-content" aria-labelledby="hed">
  <header class="content__header">
    <h2 id="hed">
      <%= remove_widows content.summary %>
    </h2>
  </header>
  <main>
    <ol class="content__list">
      <% content[:entries].reject(&:draft).each do |entry| %>
        <li><%= partial 'partials/entry_compact', locals: { entry: entry, in_list: true } %></li>
      <% end %>
    </ol>
  </main>
</section>
